services:
  api:
    build: ./dev/carsense/carsense-main/carsense-main/backend
    container_name: api
    environment:
      ENV: production
      PORT: 8000
      SECRET_KEY: ${SECRET_KEY}
      ACCESS_TOKEN_EXPIRE_MINUTES: 43200
      CORS_ORIGINS: '["https://carsense.online","https://www.carsense.online"]'
    restart: unless-stopped

  web:
    build:
      context: ./dev/carsense/carsense-main/carsense-main/frontend
    container_name: web
    restart: unless-stopped

  caddy:
    image: caddy:alpine
    container_name: reverse-proxy
    depends_on:
      - api
      - web
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./deploy/Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy_data:/data
      - caddy_config:/config
    restart: unless-stopped

volumes:
  caddy_data:
  caddy_config:
